@use '../styles/variables.scss' as *;

[data-theme="light"] {

    .dropdown-menu {
    background-color:$very-light-gray-background;
    color: $very-dark-blue-text;
    }
    
  }

  
[data-theme="dark"] { 
  
    .region-filter-container {
        background-color:$dark-blue-elements;
      * {
          color: $white-dark-mode-text;
      }
      .dropdown-menu {
        background-color:$dark-blue-elements;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
      }
    }
   
  }

.region-filter-container {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5em 1em;
    height: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.1em;  
    width: fit-content;
    border-radius: 8px;

    .region-filter-btn {
    
        padding: .5em 1em;
        button {
        border: none; 
        text-align: center;
        background-color: transparent;
            
        span {
            position: relative;
            top: 0.1em;
            margin-left:1em;
        }
        }
    }

    .dropdown-menu {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        position: relative;
        right:1em;
        flex-direction: column;
        gap: 0.5em;
        margin-top: 0.3em; 
        z-index: 1;
        padding: 0.5em 1em;
        width: 100%;
        border-radius: 8px; 

        button {
            border: none;
            background-color: transparent;
            text-align: left;
            width: 100%;
            padding: 0.5em 2em 0.5em 1em;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}